---
import { SEO } from 'astro-seo';
import ThemeSelect from '../components/ThemeSelect.astro';
import ThemeManager from '../components/ThemeManager.astro';
import LanguageSelect from '../components/LanguageSelect.astro';

interface Props {
  title: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  lang?: string;
  langs?: string[];
}

function formatTitle(title: string, format = '<em>$1</em>') {
  return title.replace(/_([^_]+)_/g, format);
}

const {
  title,
  description,
  ogTitle,
  ogDescription,
  lang = 'en',
  langs,
} = Astro.props;

const pubDate = new Intl.DateTimeFormat(lang, {
  month: 'short',
  year: 'numeric',
}).format(new Date('2026-02-01'));
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🙏</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={formatTitle(title + ' - ' + description, '$1')}
      description={description}
      openGraph={{
        basic: {
          title: ogTitle ?? title,
          type: 'website',
          image: '/og.jpg',
        },
        optional: {
          description: ogDescription ?? description,
        },
      }}
    />

    <ThemeManager defaultTheme="auto" />
    <script is:inline src="/theme-toggle.js"></script>
  </head>
  <body>
    <main>
      <div class="toolbar">
        <LanguageSelect lang={lang} langs={langs} />
        <ThemeSelect />
      </div>
      <article class="hero">
        <h1 set:html={formatTitle(title)} />
        <div class="meta">
          &ndash; {description}, {pubDate}
        </div>
      </article>
      <hr />
      <section class="letter">
        <slot />
      </section>
      <section class="cta">
        <a
          href="https://github.com/codenomnom/please-fix-next"
          class="btn-primary"
          target="_blank"
        >
          ★ &nbsp;Star to Sign
        </a>
        <a
          href="https://github.com/codenomnom/please-fix-next/discussions"
          class="btn-primary"
          target="_blank"
        >
          Join Discussions →
        </a>
      </section>
    </main>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --color-bg: #fff;
    --color-text: #171717;
    --color-secondary: #999999;
    --color-accent: #e81c4f;
    --color-faint: #ebebeb;
  }

  [data-theme='dark'] {
    --color-bg: #111111;
    --color-text: #e5e5e5;
    --color-secondary: #a3a3a3;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family:
      system-ui,
      'Segoe UI',
      Roboto,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  div.toolbar {
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: var(--color-text);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;

    button {
      all: unset;
      cursor: pointer;
    }

    #theme-toggle {
      width: 1rem;
      height: 1rem;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: center;
      transition: transform 0.2s ease;
    }
  }

  [data-theme='dark'] {
    #theme-toggle {
      transform: rotate(180deg);
    }
  }

  main {
    max-width: 69ch;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1.5rem;
  }

  h1 {
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    /* line-height: 1; */

    em {
      color: var(--color-accent);
    }
  }

  .meta {
    color: var(--color-secondary);
    font-size: 13px;
    margin-bottom: 2rem;
  }

  hr {
    background-color: var(--color-faint);
    margin: 1rem 0;
    border: 0;
    height: 1px;
  }

  .letter {
    p {
      margin-bottom: 1.3rem;
    }

    a {
      color: var(--color-text);
      text-decoration: underline;
      text-decoration-color: var(--color-accent);
      text-underline-offset: 3px;
      transition: all 0.2s ease;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  .cta {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 12px;

    .btn-primary {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      background: var(--color-text);
      color: var(--color-bg);
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 24px;
      border-radius: 3px;
      align-self: flex-start;
      transition: opacity 0.15s;
    }
    .btn-primary:hover {
      opacity: 0.75;
    }
  }
</style>
